h1 {
  padding-left: 40px;
}
.Pokedex {
  border: 2px black;
  color: rgb(13, 0, 255);
}
.pokemon-list {
list-style: none;
border: 1px black;
}

@keyframes pokemonButton-change {
  0% {
    transform: scale(.5);
    background-image: linear-gradient(red 50%,white 50%,white 100%);
    rotate: 1080deg;
    box-shadow: none;
    border-color: black;
    color: rgba(245, 245, 220, 0);
    translate: 0px -500px;
  
     }
50%{
  color: rgba(240, 248, 255, 0);
  translate: 0px 650px;
}
 }



.pokemonButton {
  animation: pokemonButton-change;
  animation-duration: 3s;
  margin-top: 5px;
  margin-bottom: 5px;
  color:rgb(13, 0, 255) ;
  background-color: transparent;
  box-sizing: border-box;
  box-shadow: 0 12px 16px 0 rgba(0, 38, 255, 0.265);;
  height: 100px;
  width: 100px;
  transition-duration: .5s;
  border: solid 3px rgb(238, 255, 0);
  border-radius: 50%;
}

.pokemonButton:hover{

  color: black;
  border: solid 3px rgb(0, 0, 0);
  box-shadow: 0 12px 16px 0 rgb(255, 0, 0);
  transform: rotate(360deg) scale(1.5);
  cursor: pointer;
  border-radius: 50%;
  background-image: linear-gradient(red 50%,white 50%,white 100%);
  }

 